body {
    background-color: aliceblue;
}

.Bilder{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding-top: 150px;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.div_elm1{
    grid-column-start: 1;
    grid-column-end: 2;
    width: 300px;
    height: 300px;
}

.div_elm2{
    grid-column-start: 2;
    grid-column-end: 3;
    width: 300px;
    height: 300px;
}

.div_elm3{
    grid-column-start: 3;
    grid-column-end: 4;
    width: 300px;
    height: 300px;
}